<!-- views/pages/alliance.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <!-- <main style="-moz-column-count:3; -moz-column-rule:solid; -webkit-column-count:3; -webkit-column-rule:solid;  margin-top: 60px;"> -->
  <main style="margin-top: 60px;">
    <div class="row">
      <div id="team1" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_1 %> - <%= team_name_1 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_1 %> / <%= avg_contrib_kpa_1 %></h3>
            <h3 style="margin-top:0;">Last Match: <%= most_recent_match_1[1] %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_auto_high_made_1 %> / <%= avg_auto_high_attempts_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_1 %> / <%= avg_auto_low_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Left: <%= tot_auto_gears_scored_fdr_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored Mid: <%= tot_auto_gears_scored_mid_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Right: <%= tot_auto_gears_scored_boi_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored: <%= tot_auto_gears_scored_1 %> / <%= tot_auto_gears_attempts_1 %></h5></td>
              </tr>
	            <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_baseline_cross_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_1 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_tele_high_made_1 %> / <%= avg_tele_high_attempts_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_1 %> / <%= avg_tele_low_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_1 %> / <%= avg_tele_gears_attempts_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gear Knockouts: <%= tot_tele_gear_knockouts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb: <%= tot_climb_1 %> / <%= tot_climb_attempts_1 %></h5></td>
              </tr>
             <tr>
                <td><h5 style="margin-top:0;">Climb Rating: <%= avg_climb_rating_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb Time: <%= avg_climb_time_1 %></h5></td>
             </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_mobility_rating_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_1 %></h5></td>
              </tr>
            </table>
            <h3><u>Data Maximums</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Auto Contrib kPa: <%= max_auto_contrib_kpa_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Contrib kPa: <%= max_contrib_kpa_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Gears Scored: <%= max_auto_gears_scored_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Gears Scored: <%= max_tele_gears_scored_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto High Made: <%= max_auto_high_made_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele High Made: <%= max_tele_high_made_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Low Made: <%= max_auto_low_made_1 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Low Made: <%= max_tele_low_made_1 %></h5></td>
              </tr>
            </table>
          </div>
    		</div>
      </div>

  		<div id="team2" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_2 %> - <%= team_name_2 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_2 %> / <%= avg_contrib_kpa_2 %></h3>
            <h3 style="margin-top:0;">Last Match: <%= most_recent_match_2[1] %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_auto_high_made_2 %> / <%= avg_auto_high_attempts_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_2 %> / <%= avg_auto_low_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Left: <%= tot_auto_gears_scored_fdr_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored Mid: <%= tot_auto_gears_scored_mid_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Right: <%= tot_auto_gears_scored_boi_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored: <%= tot_auto_gears_scored_2 %> / <%= tot_auto_gears_attempts_2 %></h5></td>
              </tr>
	      <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_baseline_cross_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_2 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_tele_high_made_2 %> / <%= avg_tele_high_attempts_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_2 %> / <%= avg_tele_low_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_2 %> / <%= avg_tele_gears_attempts_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gear Knockouts: <%= tot_tele_gear_knockouts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb: <%= tot_climb_2 %> / <%= tot_climb_attempts_2 %></h5></td>
              </tr>
             <tr>
                <td><h5 style="margin-top:0;">Climb Rating: <%= avg_climb_rating_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb Time: <%= avg_climb_time_2 %></h5></td>
             </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_mobility_rating_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_2 %></h5></td>
              </tr>
            </table>
            <h3><u>Data Maximums</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Auto Contrib kPa: <%= max_auto_contrib_kpa_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Contrib kPa: <%= max_contrib_kpa_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Gears Scored: <%= max_auto_gears_scored_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Gears Scored: <%= max_tele_gears_scored_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto High Made: <%= max_auto_high_made_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele High Made: <%= max_tele_high_made_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Low Made: <%= max_auto_low_made_2 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Low Made: <%= max_tele_low_made_2 %></h5></td>
              </tr>
            </table>
          </div>
    		</div>
  		</div>

  		<div id="team3" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_3 %> - <%= team_name_3 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_3 %> / <%= avg_contrib_kpa_3 %></h3>
            <h3 style="margin-top:0;">Last Match: <%= most_recent_match_3[1] %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_auto_high_made_3 %> / <%= avg_auto_high_attempts_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_3 %> / <%= avg_auto_low_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Left: <%= tot_auto_gears_scored_fdr_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored Mid: <%= tot_auto_gears_scored_mid_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Right: <%= tot_auto_gears_scored_boi_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored: <%= tot_auto_gears_scored_3 %> / <%= tot_auto_gears_attempts_3 %></h5></td>
              </tr>
        <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_baseline_cross_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_3 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_tele_high_made_3 %> / <%= avg_tele_high_attempts_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_3 %> / <%= avg_tele_low_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_3 %> / <%= avg_tele_gears_attempts_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gear Knockouts: <%= tot_tele_gear_knockouts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb: <%= tot_climb_3 %> / <%= tot_climb_attempts_3 %></h5></td>
              </tr>
             <tr>
                <td><h5 style="margin-top:0;">Climb Rating: <%= avg_climb_rating_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb Time: <%= avg_climb_time_3 %></h5></td>
             </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_mobility_rating_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_3 %></h5></td>
              </tr>
            </table>
            <h3><u>Data Maximums</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Auto Contrib kPa: <%= max_auto_contrib_kpa_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Contrib kPa: <%= max_contrib_kpa_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Gears Scored: <%= max_auto_gears_scored_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Gears Scored: <%= max_tele_gears_scored_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto High Made: <%= max_auto_high_made_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele High Made: <%= max_tele_high_made_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Low Made: <%= max_auto_low_made_3 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Low Made: <%= max_tele_low_made_3 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
    </div>

    <div class="row">
      <% if(team_num_4 != 0) { %>
      <div id="team4" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_4 %> - <%= team_name_4 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_4 %> / <%= avg_contrib_kpa_4 %></h3>
            <h3 style="margin-top:0;">Last Match: <%= most_recent_match_4[1] %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_auto_high_made_4 %> / <%= avg_auto_high_attempts_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_4 %> / <%= avg_auto_low_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Left: <%= tot_auto_gears_scored_fdr_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored Mid: <%= tot_auto_gears_scored_mid_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Right: <%= tot_auto_gears_scored_boi_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored: <%= tot_auto_gears_scored_4 %> / <%= tot_auto_gears_attempts_4 %></h5></td>
              </tr>
        <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_baseline_cross_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_4 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_tele_high_made_4 %> / <%= avg_tele_high_attempts_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_4 %> / <%= avg_tele_low_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_4 %> / <%= avg_tele_gears_attempts_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gear Knockouts: <%= tot_tele_gear_knockouts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb: <%= tot_climb_4 %> / <%= tot_climb_attempts_4 %></h5></td>
              </tr>
             <tr>
                <td><h5 style="margin-top:0;">Climb Rating: <%= avg_climb_rating_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb Time: <%= avg_climb_time_4 %></h5></td>
             </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_mobility_rating_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_4 %></h5></td>
              </tr>
            </table>
            <h3><u>Data Maximums</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Auto Contrib kPa: <%= max_auto_contrib_kpa_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Contrib kPa: <%= max_contrib_kpa_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Gears Scored: <%= max_auto_gears_scored_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Gears Scored: <%= max_tele_gears_scored_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto High Made: <%= max_auto_high_made_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele High Made: <%= max_tele_high_made_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Low Made: <%= max_auto_low_made_4 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Low Made: <%= max_tele_low_made_4 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <% } %>

      <% if(team_num_5 != 0) { %>
  		<div id="team5" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_5 %> - <%= team_name_5 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_5 %> / <%= avg_contrib_kpa_5 %></h3>
            <h3 style="margin-top:0;">Last Match: <%= most_recent_match_5[1] %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_auto_high_made_5 %> / <%= avg_auto_high_attempts_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_5 %> / <%= avg_auto_low_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Left: <%= tot_auto_gears_scored_fdr_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored Mid: <%= tot_auto_gears_scored_mid_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Right: <%= tot_auto_gears_scored_boi_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored: <%= tot_auto_gears_scored_5 %> / <%= tot_auto_gears_attempts_5 %></h5></td>
              </tr>
	            <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_baseline_cross_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_5 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_tele_high_made_5 %> / <%= avg_tele_high_attempts_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_5 %> / <%= avg_tele_low_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_5 %> / <%= avg_tele_gears_attempts_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gear Knockouts: <%= tot_tele_gear_knockouts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb: <%= tot_climb_5 %> / <%= tot_climb_attempts_5 %></h5></td>
              </tr>
             <tr>
                <td><h5 style="margin-top:0;">Climb Rating: <%= avg_climb_rating_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb Time: <%= avg_climb_time_5 %></h5></td>
             </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_mobility_rating_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_5 %></h5></td>
              </tr>
            </table>
            <h3><u>Data Maximums</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Auto Contrib kPa: <%= max_auto_contrib_kpa_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Contrib kPa: <%= max_contrib_kpa_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Gears Scored: <%= max_auto_gears_scored_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Gears Scored: <%= max_tele_gears_scored_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto High Made: <%= max_auto_high_made_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele High Made: <%= max_tele_high_made_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Low Made: <%= max_auto_low_made_5 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Low Made: <%= max_tele_low_made_5 %></h5></td>
              </tr>
            </table>
          </div>
    		</div>
  		</div>
      <% } %>

      <% if(team_num_6 != 0) { %>
      <div id="team6" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_6 %> - <%= team_name_6 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 style="margin-top:0;">Average kPa: <%= avg_auto_contrib_kpa_6 %> / <%= avg_contrib_kpa_6 %></h3>
            <h3 style="margin-top:0;">Last Match: <%= most_recent_match_6[1] %></h3>
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_auto_high_made_6 %> / <%= avg_auto_high_attempts_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_auto_low_made_6 %> / <%= avg_auto_low_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Left: <%= tot_auto_gears_scored_fdr_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored Mid: <%= tot_auto_gears_scored_mid_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored Right: <%= tot_auto_gears_scored_boi_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gears Scored: <%= tot_auto_gears_scored_6 %> / <%= tot_auto_gears_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_baseline_cross_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_auto_hopper_intake_6 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">High Goals: <%= avg_tele_high_made_6 %> / <%= avg_tele_high_attempts_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Low Goals: <%= avg_tele_low_made_6 %> / <%= avg_tele_low_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Scored: <%= avg_tele_gears_scored_6 %> / <%= avg_tele_gears_attempts_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Hopper Intake: <%= avg_tele_hopper_intake_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Gear Intake: <%= avg_tele_floor_gear_intake_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Floor Ball Intake: <%= avg_tele_floor_ball_intake_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Gears Dropped: <%= avg_tele_gears_dropped_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Gear Knockouts: <%= tot_tele_gear_knockouts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">HP Gear Intake: <%= avg_hp_gear_intake_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb: <%= tot_climb_6 %> / <%= tot_climb_attempts_6 %></h5></td>
              </tr>
             <tr>
                <td><h5 style="margin-top:0;">Climb Rating: <%= avg_climb_rating_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Climb Time: <%= avg_climb_time_6 %></h5></td>
             </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_mobility_rating_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_6 %></h5></td>
              </tr>
            </table>
            <h3><u>Data Maximums</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Auto Contrib kPa: <%= max_auto_contrib_kpa_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Contrib kPa: <%= max_contrib_kpa_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Gears Scored: <%= max_auto_gears_scored_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Gears Scored: <%= max_tele_gears_scored_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto High Made: <%= max_auto_high_made_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele High Made: <%= max_tele_high_made_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Auto Low Made: <%= max_auto_low_made_6 %></h5></td>
                <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Tele Low Made: <%= max_tele_low_made_6 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <form id="export_db" method="get" action="/alliance-ppt/<%= team_num_1 %>,<%= team_num_2 %>,<%= team_num_3 %>,<%= team_num_4 %>,<%= team_num_5 %>,<%= team_num_6 %>">
          <div class="form-group">
            <div class="row">
              <div style="padding-top:15px;" align="center">
                <input type="submit" class="btn btn-success" value="Download Sheet" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

	<footer>
    <hr />
    <% include ../partials/footer %>
  </footer>
</body>
</html>
