<!-- views/pages/alliance.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <!-- <main style="-moz-column-count:3; -moz-column-rule:solid; -webkit-column-count:3; -webkit-column-rule:solid;  margin-top: 60px;"> -->
  <main style="margin-top: 60px;">
    <div class="row">
      <div id="team1" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h2>
              <strong><%= team_num_1 %> - <%= team_name_1 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross_1 %> / <%= num_matches_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made_1 %> / <%= tot_auto_near_switch_attempts_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made_1 %> / <%= tot_auto_exchange_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made_1 %> / <%= tot_auto_scale_high_attempts_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made_1 %> / <%= tot_auto_scale_low_attempts_1 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored_1 %> (Max: <%= max_tele_cubes_scored_1 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made_1 %> / <%= avg_tele_exchange_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made_1 %> / <%= avg_tele_near_switch_attempts_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made_1 %> / <%= avg_tele_far_switch_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made_1 %> / <%= avg_tele_scale_high_attempts_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made_1 %> / <%= avg_tele_scale_low_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake_1 %> (Max: <%= max_tele_intake_1 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made_1 %> / <%= avg_tele_portal_intake_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level_1 %> (Frq: <%= frq_tele_highest_level_1 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= tot_tele_platform_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb_1 %> / <%= tot_tele_climb_attempts_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one_1 %> / <%= tot_tele_plus_one_attempts_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two_1 %> / <%= tot_tele_plus_two_attempts_1 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating_1 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_1 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

  		<div id="team2" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h2>
              <strong><%= team_num_2 %> - <%= team_name_2 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross_2 %> / <%= num_matches_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made_2 %> / <%= tot_auto_near_switch_attempts_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made_2 %> / <%= tot_auto_exchange_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made_2 %> / <%= tot_auto_scale_high_attempts_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made_2 %> / <%= tot_auto_scale_low_attempts_2 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored_2 %> (Max: <%= max_tele_cubes_scored_2 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made_2 %> / <%= avg_tele_exchange_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made_2 %> / <%= avg_tele_near_switch_attempts_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made_2 %> / <%= avg_tele_far_switch_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made_2 %> / <%= avg_tele_scale_high_attempts_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made_2 %> / <%= avg_tele_scale_low_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake_2 %> (Max: <%= max_tele_intake_2 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made_2 %> / <%= avg_tele_portal_intake_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level_2 %> (Frq: <%= frq_tele_highest_level_2 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= tot_tele_platform_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb_2 %> / <%= tot_tele_climb_attempts_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one_2 %> / <%= tot_tele_plus_one_attempts_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two_2 %> / <%= tot_tele_plus_two_attempts_2 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating_2 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_2 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>

  		<div id="team3" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h2>
              <strong><%= team_num_3 %> - <%= team_name_3 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross_3 %> / <%= num_matches_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made_3 %> / <%= tot_auto_near_switch_attempts_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made_3 %> / <%= tot_auto_exchange_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made_3 %> / <%= tot_auto_scale_high_attempts_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made_3 %> / <%= tot_auto_scale_low_attempts_3 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored_3 %> (Max: <%= max_tele_cubes_scored_3 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made_3 %> / <%= avg_tele_exchange_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made_3 %> / <%= avg_tele_near_switch_attempts_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made_3 %> / <%= avg_tele_far_switch_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made_3 %> / <%= avg_tele_scale_high_attempts_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made_3 %> / <%= avg_tele_scale_low_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake_3 %> (Max: <%= max_tele_intake_3 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made_3 %> / <%= avg_tele_portal_intake_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level_3 %> (Frq: <%= frq_tele_highest_level_3 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= tot_tele_platform_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb_3 %> / <%= tot_tele_climb_attempts_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one_3 %> / <%= tot_tele_plus_one_attempts_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two_3 %> / <%= tot_tele_plus_two_attempts_3 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_3 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3><u>Cycle Data</u></h3>
        <table class="table">
          <tr>
            <th />
            <th />
            <th><%= team_num_1 %></th>
            <th />
            <th />
            <th />
            <th><%= team_num_2 %></th>
            <th />
            <th />
            <th />
            <th><%= team_num_3 %></th>
            <th />
          </tr>
          <tr>
            <th>Path</th>
            <th>Avg</th>
            <th>Max</th>
            <th>Time</th>
            <th />
            <th>Avg</th>
            <th>Max</th>
            <th>Time</th>
            <th />
            <th>Avg</th>
            <th>Max</th>
            <th>Time</th>
          </tr>
          <tr>
            <th>Pyramid Scale</th>
            <td><%= tot_pyramid_scale_cycles_1 %></td> <!-- tot is really per match :| -->
            <td><%= max_pyramid_scale_cycles_1 %></td>
            <td><%= avg_pyramid_scale_cycles_1 %></td>
            <td />
            <td><%= tot_pyramid_scale_cycles_2 %></td>
            <td><%= max_pyramid_scale_cycles_2 %></td>
            <td><%= avg_pyramid_scale_cycles_2 %></td>
            <td />
            <td><%= tot_pyramid_scale_cycles_3 %></td>
            <td><%= max_pyramid_scale_cycles_3 %></td>
            <td><%= avg_pyramid_scale_cycles_3 %></td>
          </tr>
          <tr>
            <th>Unprotected Scale</th>
            <td><%= tot_unprotected_scale_cycles_1 %></td>
            <td><%= max_unprotected_scale_cycles_1 %></td>
            <td><%= avg_unprotected_scale_cycles_1 %></td>
            <td />
            <td><%= tot_unprotected_scale_cycles_2 %></td>
            <td><%= max_unprotected_scale_cycles_2 %></td>
            <td><%= avg_unprotected_scale_cycles_2 %></td>
            <td />
            <td><%= tot_unprotected_scale_cycles_3 %></td>
            <td><%= max_unprotected_scale_cycles_3 %></td>
            <td><%= avg_unprotected_scale_cycles_3 %></td>
          </tr>
          <tr>
            <th>Portal Scale</th>
            <td><%= tot_portal_scale_cycles_1 %></td>
            <td><%= max_portal_scale_cycles_1 %></td>
            <td><%= avg_portal_scale_cycles_1 %></td>
            <td />
            <td><%= tot_portal_scale_cycles_2 %></td>
            <td><%= max_portal_scale_cycles_2 %></td>
            <td><%= avg_portal_scale_cycles_2 %></td>
            <td />
            <td><%= tot_portal_scale_cycles_3 %></td>
            <td><%= max_portal_scale_cycles_3 %></td>
            <td><%= avg_portal_scale_cycles_3 %></td>
          </tr>
          <tr>
            <th>Floor Scale</th>
            <td><%= tot_floor_scale_cycles_1 %></td>
            <td><%= max_floor_scale_cycles_1 %></td>
            <td><%= avg_floor_scale_cycles_1 %></td>
            <td />
            <td><%= tot_floor_scale_cycles_2 %></td>
            <td><%= max_floor_scale_cycles_2 %></td>
            <td><%= avg_floor_scale_cycles_2 %></td>
            <td />
            <td><%= tot_floor_scale_cycles_3 %></td>
            <td><%= max_floor_scale_cycles_3 %></td>
            <td><%= avg_floor_scale_cycles_3 %></td>
          </tr>
          <tr>
            <th>Pyramid Near Switch</th>
            <td><%= tot_pyramid_near_switch_cycles_1 %></td>
            <td><%= max_pyramid_near_switch_cycles_1 %></td>
            <td><%= avg_pyramid_near_switch_cycles_1 %></td>
            <td />
            <td><%= tot_pyramid_near_switch_cycles_2 %></td>
            <td><%= max_pyramid_near_switch_cycles_2 %></td>
            <td><%= avg_pyramid_near_switch_cycles_2 %></td>
            <td />
            <td><%= tot_pyramid_near_switch_cycles_3 %></td>
            <td><%= max_pyramid_near_switch_cycles_3 %></td>
            <td><%= avg_pyramid_near_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Unprotected Near Switch</th>
            <td><%= tot_unprotected_near_switch_cycles_1 %></td>
            <td><%= max_unprotected_near_switch_cycles_1 %></td>
            <td><%= avg_unprotected_near_switch_cycles_1 %></td>
            <td />
            <td><%= tot_unprotected_near_switch_cycles_2 %></td>
            <td><%= max_unprotected_near_switch_cycles_2 %></td>
            <td><%= avg_unprotected_near_switch_cycles_2 %></td>
            <td />
            <td><%= tot_unprotected_near_switch_cycles_3 %></td>
            <td><%= max_unprotected_near_switch_cycles_3 %></td>
            <td><%= avg_unprotected_near_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Portal Near Switch</th>
            <td><%= tot_portal_near_switch_cycles_1 %></td>
            <td><%= max_portal_near_switch_cycles_1 %></td>
            <td><%= avg_portal_near_switch_cycles_1 %></td>
            <td />
            <td><%= tot_portal_near_switch_cycles_2 %></td>
            <td><%= max_portal_near_switch_cycles_2 %></td>
            <td><%= avg_portal_near_switch_cycles_2 %></td>
            <td />
            <td><%= tot_portal_near_switch_cycles_3 %></td>
            <td><%= max_portal_near_switch_cycles_3 %></td>
            <td><%= avg_portal_near_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Floor Near Switch</th>
            <td><%= tot_floor_near_switch_cycles_1 %></td>
            <td><%= max_floor_near_switch_cycles_1 %></td>
            <td><%= avg_floor_near_switch_cycles_1 %></td>
            <td />
            <td><%= tot_floor_near_switch_cycles_2 %></td>
            <td><%= max_floor_near_switch_cycles_2 %></td>
            <td><%= avg_floor_near_switch_cycles_2 %></td>
            <td />
            <td><%= tot_floor_near_switch_cycles_3 %></td>
            <td><%= max_floor_near_switch_cycles_3 %></td>
            <td><%= avg_floor_near_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Pyramid Far Switch</th>
            <td><%= tot_pyramid_far_switch_cycles_1 %></td>
            <td><%= max_pyramid_far_switch_cycles_1 %></td>
            <td><%= avg_pyramid_far_switch_cycles_1 %></td>
            <td />
            <td><%= tot_pyramid_far_switch_cycles_2 %></td>
            <td><%= max_pyramid_far_switch_cycles_2 %></td>
            <td><%= avg_pyramid_far_switch_cycles_2 %></td>
            <td />
            <td><%= tot_pyramid_far_switch_cycles_3 %></td>
            <td><%= max_pyramid_far_switch_cycles_3 %></td>
            <td><%= avg_pyramid_far_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Unprotected Far Switch</th>
            <td><%= tot_unprotected_far_switch_cycles_1 %></td>
            <td><%= max_unprotected_far_switch_cycles_1 %></td>
            <td><%= avg_unprotected_far_switch_cycles_1 %></td>
            <td />
            <td><%= tot_unprotected_far_switch_cycles_2 %></td>
            <td><%= max_unprotected_far_switch_cycles_2 %></td>
            <td><%= avg_unprotected_far_switch_cycles_2 %></td>
            <td />
            <td><%= tot_unprotected_far_switch_cycles_3 %></td>
            <td><%= max_unprotected_far_switch_cycles_3 %></td>
            <td><%= avg_unprotected_far_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Portal Far Switch</th>
            <td><%= tot_portal_far_switch_cycles_1 %></td>
            <td><%= max_portal_far_switch_cycles_1 %></td>
            <td><%= avg_portal_far_switch_cycles_1 %></td>
            <td />
            <td><%= tot_portal_far_switch_cycles_2 %></td>
            <td><%= max_portal_far_switch_cycles_2 %></td>
            <td><%= avg_portal_far_switch_cycles_2 %></td>
            <td />
            <td><%= tot_portal_far_switch_cycles_3 %></td>
            <td><%= max_portal_far_switch_cycles_3 %></td>
            <td><%= avg_portal_far_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Floor Far Switch</th>
            <td><%= tot_floor_far_switch_cycles_1 %></td>
            <td><%= max_floor_far_switch_cycles_1 %></td>
            <td><%= avg_floor_far_switch_cycles_1 %></td>
            <td />
            <td><%= tot_floor_far_switch_cycles_2 %></td>
            <td><%= max_floor_far_switch_cycles_2 %></td>
            <td><%= avg_floor_far_switch_cycles_2 %></td>
            <td />
            <td><%= tot_floor_far_switch_cycles_3 %></td>
            <td><%= max_floor_far_switch_cycles_3 %></td>
            <td><%= avg_floor_far_switch_cycles_3 %></td>
          </tr>
          <tr>
            <th>Pyramid Exchange</th>
            <td><%= tot_pyramid_exchange_cycles_1 %></td>
            <td><%= max_pyramid_exchange_cycles_1 %></td>
            <td><%= avg_pyramid_exchange_cycles_1 %></td>
            <td />
            <td><%= tot_pyramid_exchange_cycles_2 %></td>
            <td><%= max_pyramid_exchange_cycles_2 %></td>
            <td><%= avg_pyramid_exchange_cycles_2 %></td>
            <td />
            <td><%= tot_pyramid_exchange_cycles_3 %></td>
            <td><%= max_pyramid_exchange_cycles_3 %></td>
            <td><%= avg_pyramid_exchange_cycles_3 %></td>
          </tr>
          <tr>
            <th>Unprotected Exchange</th>
            <td><%= tot_unprotected_exchange_cycles_1 %></td>
            <td><%= max_unprotected_exchange_cycles_1 %></td>
            <td><%= avg_unprotected_exchange_cycles_1 %></td>
            <td />
            <td><%= tot_unprotected_exchange_cycles_2 %></td>
            <td><%= max_unprotected_exchange_cycles_2 %></td>
            <td><%= avg_unprotected_exchange_cycles_2 %></td>
            <td />
            <td><%= tot_unprotected_exchange_cycles_3 %></td>
            <td><%= max_unprotected_exchange_cycles_3 %></td>
            <td><%= avg_unprotected_exchange_cycles_3 %></td>
          </tr>
          <tr>
            <th>Portal Exchange</th>
            <td><%= tot_portal_exchange_cycles_1 %></td>
            <td><%= max_portal_exchange_cycles_1 %></td>
            <td><%= avg_portal_exchange_cycles_1 %></td>
            <td />
            <td><%= tot_portal_exchange_cycles_2 %></td>
            <td><%= max_portal_exchange_cycles_2 %></td>
            <td><%= avg_portal_exchange_cycles_2 %></td>
            <td />
            <td><%= tot_portal_exchange_cycles_3 %></td>
            <td><%= max_portal_exchange_cycles_3 %></td>
            <td><%= avg_portal_exchange_cycles_3 %></td>
          </tr>
          <tr>
            <th>Floor Exchange</th>
            <td><%= tot_floor_exchange_cycles_1 %></td>
            <td><%= max_floor_exchange_cycles_1 %></td>
            <td><%= avg_floor_exchange_cycles_1 %></td>
            <td />
            <td><%= tot_floor_exchange_cycles_2 %></td>
            <td><%= max_floor_exchange_cycles_2 %></td>
            <td><%= avg_floor_exchange_cycles_2 %></td>
            <td />
            <td><%= tot_floor_exchange_cycles_3 %></td>
            <td><%= max_floor_exchange_cycles_3 %></td>
            <td><%= avg_floor_exchange_cycles_3 %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <canvas id="auto_trend_1" style="width:100px; height:85px;"></canvas>
      </div>
      <div class="col-lg-4 col-xs-12">
        <canvas id="auto_trend_2" style="width:100px; height:85px;"></canvas>
      </div>
      <div class="col-lg-4 col-xs-12">
        <canvas id="auto_trend_3" style="width:100px; height:85px;"></canvas>
      </div>
      <script>
        var auto_data_1 = {
          labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
          datasets: [
            {
              label: 'Auto Made',
              backgroundColor: "rgba(201,235,148,0.75)",
              borderColor: "rgba(201,235,148,1)",
              borderWidth: 2,
              data: [<%= auto_made_trend_1 %>]
            },
            {
              label: 'Auto Missed',
              backgroundColor: "rgba(255,166,158,0.75)",
              borderColor: "rgba(255,166,158,1)",
              borderWidth: 2,
              data: [<%= auto_missed_trend_1 %>]
            }
          ]
        };
        var auto_data_2 = {
          labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
          datasets: [
            {
              label: 'Auto Made',
              backgroundColor: "rgba(201,235,148,0.75)",
              borderColor: "rgba(201,235,148,1)",
              borderWidth: 2,
              data: [<%= auto_made_trend_2 %>]
            },
            {
              label: 'Auto Missed',
              backgroundColor: "rgba(255,166,158,0.75)",
              borderColor: "rgba(255,166,158,1)",
              borderWidth: 2,
              data: [<%= auto_missed_trend_2 %>]
            }
          ]
        };
        var auto_data_3 = {
          labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
          datasets: [
            {
              label: 'Auto Made',
              backgroundColor: "rgba(201,235,148,0.75)",
              borderColor: "rgba(201,235,148,1)",
              borderWidth: 2,
              data: [<%= auto_made_trend_3 %>]
            },
            {
              label: 'Auto Missed',
              backgroundColor: "rgba(255,166,158,0.75)",
              borderColor: "rgba(255,166,158,1)",
              borderWidth: 2,
              data: [<%= auto_missed_trend_3 %>]
            }
          ]
        };
        
        var ctx1 = document.getElementById("auto_trend_1").getContext("2d");
        var myBarChart = new Chart(ctx1, { 
          type: 'bar',
          data: auto_data_1,
          options: {
            title: {
              display: true,
              text: '<%= team_num_1 %> Autos',
              fontSize: 16
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 12,
                  stepSize: 2
                }
              }]
            },
            tooltips: {
              intersect: false,
              mode: 'index',
              callbacks: {
                labelColor: function(tooltipItem, chart) {
                  var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                  return {
                    backgroundColor : dataset.borderColor
                  }
                }
              }
            }
          }
        });
        
        var ctx2 = document.getElementById("auto_trend_2").getContext("2d");
        var myBarChart = new Chart(ctx2, { 
          type: 'bar',
          data: auto_data_2,
          options: {
            title: {
              display: true,
              text: '<%= team_num_2 %> Autos',
              fontSize: 16
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 12,
                  stepSize: 2
                }
              }]
            },
            tooltips: {
              intersect: false,
              mode: 'index',
              callbacks: {
                labelColor: function(tooltipItem, chart) {
                  var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                  return {
                    backgroundColor : dataset.borderColor
                  }
                }
              }
            }
          }
        });
        
        var ctx3 = document.getElementById("auto_trend_3").getContext("2d");
        var myBarChart = new Chart(ctx3, { 
          type: 'bar',
          data: auto_data_3,
          options: {
            title: {
              display: true,
              text: '<%= team_num_3 %> Autos',
              fontSize: 16
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 12,
                  stepSize: 2
                }
              }]
            },
            tooltips: {
              intersect: false,
              mode: 'index',
              callbacks: {
                labelColor: function(tooltipItem, chart) {
                  var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                  return {
                    backgroundColor : dataset.borderColor
                  }
                }
              }
            }
          }
        });
      </script>
    </div>

    <div class="row">
      <% if(team_num_4 != 0) { %>
      <div id="team4" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_4 %> - <%= team_name_4 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made_4 %> / <%= tot_auto_near_switch_attempts_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made_4 %> / <%= tot_auto_exchange_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made_4 %> / <%= tot_auto_scale_high_attempts_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made_4 %> / <%= tot_auto_scale_low_attempts_4 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored_4 %> (Max: <%= max_tele_cubes_scored_4 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made_4 %> / <%= avg_tele_exchange_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made_4 %> / <%= avg_tele_near_switch_attempts_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made_4 %> / <%= avg_tele_far_switch_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made_4 %> / <%= avg_tele_scale_high_attempts_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made_4 %> / <%= avg_tele_scale_low_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Cubes Dropped: <%= avg_tele_cubes_dropped_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake_4 %> (Max: <%= max_tele_intake_4 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made_4 %> / <%= avg_tele_portal_intake_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Total Orderly: <%= tot_tele_orderly_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level_4 %> (Frq: <%= frq_tele_highest_level_4 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= tot_tele_platform_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb_4 %> / <%= tot_tele_climb_attempts_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one_4 %> / <%= tot_tele_plus_one_attempts_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two_4 %> / <%= tot_tele_plus_two_attempts_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_4 %></h5></td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <h3><u>Cycle Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Scale: <%= tot_pyramid_scale_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Scale: <%= max_pyramid_scale_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Scale: <%= avg_pyramid_scale_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Near Switch: <%= tot_pyramid_near_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Near Switch: <%= max_pyramid_near_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Near Switch: <%= avg_pyramid_near_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Far Switch: <%= tot_pyramid_far_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Far Switch: <%= max_pyramid_far_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Far Switch: <%= avg_pyramid_far_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Exchange: <%= tot_pyramid_far_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Exchange: <%= max_pyramid_exchange_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Exchange: <%= avg_pyramid_exchange_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Scale: <%= tot_unprotected_scale_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Scale: <%= max_unprotected_scale_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Scale: <%= avg_unprotected_scale_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Near Switch: <%= tot_unprotected_near_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Near Switch: <%= max_unprotected_near_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Near Switch: <%= avg_unprotected_near_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Far Switch: <%= tot_unprotected_far_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Far Switch: <%= max_unprotected_far_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Far Switch: <%= avg_unprotected_far_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Exchange: <%= tot_unprotected_far_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Exchange: <%= max_unprotected_exchange_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Exchange: <%= avg_unprotected_exchange_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Scale: <%= tot_portal_scale_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Scale: <%= max_portal_scale_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Scale: <%= avg_portal_scale_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Near Switch: <%= tot_portal_near_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Near Switch: <%= max_portal_near_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Near Switch: <%= avg_portal_near_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Far Switch: <%= tot_portal_far_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Far Switch: <%= max_portal_far_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Far Switch: <%= avg_portal_far_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Exchange: <%= tot_portal_far_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Exchange: <%= max_portal_exchange_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Exchange: <%= avg_portal_exchange_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Scale: <%= tot_floor_scale_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Scale: <%= max_floor_scale_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Scale: <%= avg_floor_scale_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Near Switch: <%= tot_floor_near_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Near Switch: <%= max_floor_near_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Near Switch: <%= avg_floor_near_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Far Switch: <%= tot_floor_far_switch_cycles_4 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Far Switch: <%= max_floor_far_switch_cycles_4 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Far Switch: <%= avg_floor_far_switch_cycles_4 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Exchange: <%= tot_floor_far_switch_cycles_3 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Exchange: <%= max_floor_exchange_cycles_3 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Exchange: <%= avg_floor_exchange_cycles_3 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <% } %>

      <% if(team_num_5 != 0) { %>
  		<div id="team5" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_5 %> - <%= team_name_5 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made_5 %> / <%= tot_auto_near_switch_attempts_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made_5 %> / <%= tot_auto_exchange_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made_5 %> / <%= tot_auto_scale_high_attempts_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made_5 %> / <%= tot_auto_scale_low_attempts_5 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored_5 %> (Max: <%= max_tele_cubes_scored_5 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made_5 %> / <%= avg_tele_exchange_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made_5 %> / <%= avg_tele_near_switch_attempts_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made_5 %> / <%= avg_tele_far_switch_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made_5 %> / <%= avg_tele_scale_high_attempts_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made_5 %> / <%= avg_tele_scale_low_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Cubes Dropped: <%= avg_tele_cubes_dropped_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake_5 %> (Max: <%= max_tele_intake_5 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made_5 %> / <%= avg_tele_portal_intake_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Total Orderly: <%= tot_tele_orderly_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level_5 %> (Frq: <%= frq_tele_highest_level_5 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= tot_tele_platform_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb_5 %> / <%= tot_tele_climb_attempts_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one_5 %> / <%= tot_tele_plus_one_attempts_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two_5 %> / <%= tot_tele_plus_two_attempts_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_5 %></h5></td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <h3><u>Cycle Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Scale: <%= tot_pyramid_scale_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Scale: <%= max_pyramid_scale_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Scale: <%= avg_pyramid_scale_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Near Switch: <%= tot_pyramid_near_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Near Switch: <%= max_pyramid_near_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Near Switch: <%= avg_pyramid_near_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Far Switch: <%= tot_pyramid_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Far Switch: <%= max_pyramid_far_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Far Switch: <%= avg_pyramid_far_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Exchange: <%= tot_pyramid_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Exchange: <%= max_pyramid_exchange_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Exchange: <%= avg_pyramid_exchange_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Scale: <%= tot_unprotected_scale_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Scale: <%= max_unprotected_scale_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Scale: <%= avg_unprotected_scale_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Near Switch: <%= tot_unprotected_near_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Near Switch: <%= max_unprotected_near_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Near Switch: <%= avg_unprotected_near_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Far Switch: <%= tot_unprotected_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Far Switch: <%= max_unprotected_far_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Far Switch: <%= avg_unprotected_far_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Exchange: <%= tot_unprotected_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Exchange: <%= max_unprotected_exchange_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Exchange: <%= avg_unprotected_exchange_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Scale: <%= tot_portal_scale_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Scale: <%= max_portal_scale_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Scale: <%= avg_portal_scale_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Near Switch: <%= tot_portal_near_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Near Switch: <%= max_portal_near_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Near Switch: <%= avg_portal_near_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Far Switch: <%= tot_portal_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Far Switch: <%= max_portal_far_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Far Switch: <%= avg_portal_far_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Exchange: <%= tot_portal_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Exchange: <%= max_portal_exchange_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Exchange: <%= avg_portal_exchange_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Scale: <%= tot_floor_scale_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Scale: <%= max_floor_scale_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Scale: <%= avg_floor_scale_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Near Switch: <%= tot_floor_near_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Near Switch: <%= max_floor_near_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Near Switch: <%= avg_floor_near_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Far Switch: <%= tot_floor_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Far Switch: <%= max_floor_far_switch_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Far Switch: <%= avg_floor_far_switch_cycles_5 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Exchange: <%= tot_floor_far_switch_cycles_5 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Exchange: <%= max_floor_exchange_cycles_5 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Exchange: <%= avg_floor_exchange_cycles_5 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
      <% } %>

      <% if(team_num_6 != 0) { %>
      <div id="team6" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h2>
              <strong><%= team_num_6 %> - <%= team_name_6 %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made_6 %> / <%= tot_auto_near_switch_attempts_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made_6 %> / <%= tot_auto_exchange_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made_6 %> / <%= tot_auto_scale_high_attempts_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made_6 %> / <%= tot_auto_scale_low_attempts_6 %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored_6 %> (Max: <%= max_tele_cubes_scored_6 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made_6 %> / <%= avg_tele_exchange_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made_6 %> / <%= avg_tele_near_switch_attempts_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made_6 %> / <%= avg_tele_far_switch_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made_6 %> / <%= avg_tele_scale_high_attempts_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made_6 %> / <%= avg_tele_scale_low_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Cubes Dropped: <%= avg_tele_cubes_dropped_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake_6 %> (Max: <%= max_tele_intake_6 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made_6 %> / <%= avg_tele_portal_intake_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Total Orderly: <%= tot_tele_orderly_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level_6 %> (Frq: <%= frq_tele_highest_level_6 %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= tot_tele_platform_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb_6 %> / <%= tot_tele_climb_attempts_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one_6 %> / <%= tot_tele_plus_one_attempts_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two_6 %> / <%= tot_tele_plus_two_attempts_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating_6 %></h5></td>
              </tr>
            </table>
          </div>
          <div class="col-lg-12">
            <h3><u>Cycle Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Scale: <%= tot_pyramid_scale_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Scale: <%= max_pyramid_scale_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Scale: <%= avg_pyramid_scale_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Near Switch: <%= tot_pyramid_near_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Near Switch: <%= max_pyramid_near_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Near Switch: <%= avg_pyramid_near_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Far Switch: <%= tot_pyramid_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Far Switch: <%= max_pyramid_far_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Far Switch: <%= avg_pyramid_far_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Pyramid Exchange: <%= tot_pyramid_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Pyramid Exchange: <%= max_pyramid_exchange_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Pyramid Exchange: <%= avg_pyramid_exchange_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Scale: <%= tot_unprotected_scale_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Scale: <%= max_unprotected_scale_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Scale: <%= avg_unprotected_scale_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Near Switch: <%= tot_unprotected_near_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Near Switch: <%= max_unprotected_near_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Near Switch: <%= avg_unprotected_near_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Far Switch: <%= tot_unprotected_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Far Switch: <%= max_unprotected_far_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Far Switch: <%= avg_unprotected_far_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Unprotected Exchange: <%= tot_unprotected_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Unprotected Exchange: <%= max_unprotected_exchange_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Unprotected Exchange: <%= avg_unprotected_exchange_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Scale: <%= tot_portal_scale_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Scale: <%= max_portal_scale_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Scale: <%= avg_portal_scale_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Near Switch: <%= tot_portal_near_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Near Switch: <%= max_portal_near_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Near Switch: <%= avg_portal_near_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Far Switch: <%= tot_portal_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Far Switch: <%= max_portal_far_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Far Switch: <%= avg_portal_far_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Portal Exchange: <%= tot_portal_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Portal Exchange: <%= max_portal_exchange_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Portal Exchange: <%= avg_portal_exchange_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Scale: <%= tot_floor_scale_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Scale: <%= max_floor_scale_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Scale: <%= avg_floor_scale_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Near Switch: <%= tot_floor_near_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Near Switch: <%= max_floor_near_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Near Switch: <%= avg_floor_near_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Far Switch: <%= tot_floor_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Far Switch: <%= max_floor_far_switch_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Far Switch: <%= avg_floor_far_switch_cycles_6 %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Floor Exchange: <%= tot_floor_far_switch_cycles_6 %></h5></td>
                <td style="text-align:center;"><h5 style="margin-top:0;">Max Floor Exchange: <%= max_floor_exchange_cycles_6 %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Avg Floor Exchange: <%= avg_floor_exchange_cycles_6 %></h5></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <form id="export_db" method="get" action="/alliance-ppt/<%= team_num_1 %>,<%= team_num_2 %>,<%= team_num_3 %>,<%= team_num_4 %>,<%= team_num_5 %>,<%= team_num_6 %>">
          <div class="form-group">
            <div class="row">
              <div style="padding-top:15px;" align="center">
                <input type="submit" class="btn btn-success" value="Download Sheet" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>

	<footer>
    <hr />
    <% include ../partials/footer %>
  </footer>
</body>
</html>
