<!-- views/pages/alliance.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <!-- <main style="-moz-column-count:3; -moz-column-rule:solid; -webkit-column-count:3; -webkit-column-rule:solid;  margin-top: 60px;"> -->
  <main style="margin-top: 60px;">
    <div class="row">
      <div id="team1" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h2>
              <strong><%= team_1.team_num %> - <%= team_1.team_name %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= team_1.tot_auto_cross %> / <%= team_1.num_matches %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= team_1.tot_auto_left %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= team_1.tot_auto_center %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= team_1.tot_auto_right %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= team_1.tot_auto_pyramid_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= team_1.tot_auto_unprotected_intake %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= team_1.tot_auto_near_switch_made %> / <%= team_1.tot_auto_near_switch_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= team_1.tot_auto_exchange_made %> / <%= team_1.tot_auto_exchange_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= team_1.tot_auto_scale_high_made %> / <%= team_1.tot_auto_scale_high_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= team_1.tot_auto_scale_low_made %> / <%= team_1.tot_auto_scale_low_attempts %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= team_1.avg_tele_cubes_scored %> (Max: <%= team_1.max_tele_cubes_scored %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= team_1.avg_tele_exchange_made %> / <%= team_1.avg_tele_exchange_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= team_1.avg_tele_near_switch_made %> / <%= team_1.avg_tele_near_switch_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= team_1.avg_tele_far_switch_made %> / <%= team_1.avg_tele_far_switch_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= team_1.avg_tele_scale_high_made %> / <%= team_1.avg_tele_scale_high_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= team_1.avg_tele_scale_low_made %> / <%= team_1.avg_tele_scale_low_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= team_1.avg_tele_intake %> (Max: <%= team_1.max_tele_intake %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= team_1.avg_tele_portal_intake_made %> / <%= team_1.avg_tele_portal_intake_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= team_1.avg_tele_pyramid_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= team_1.avg_tele_unprotected_intake %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= team_1.avg_tele_floor_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Knockouts: <%= team_1.avg_tele_knockouts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= team_1.max_tele_highest_level %> (Frq: <%= team_1.frq_tele_highest_level %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= team_1.tot_tele_platform %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= team_1.tot_tele_climb_ %> / <%= team_1.tot_tele_climb_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= team_1.tot_tele_climb_assisted %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= team_1.tot_tele_plus_one %> / <%= team_1.tot_tele_plus_one_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= team_1.tot_tele_plus_two %> / <%= team_1.tot_tele_plus_two_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= team_1.avg_driver_rating %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= team_1.avg_defense_rating %></h5></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

  		<div id="team2" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h2>
              <strong><%= team_2.team_num %> - <%= team_2.team_name %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= team_2.tot_auto_cross %> / <%= team_2.num_matches %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= team_2.tot_auto_left %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= team_2.tot_auto_center %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= team_2.tot_auto_right %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= team_2.tot_auto_pyramid_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= team_2.tot_auto_unprotected_intake %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= team_2.tot_auto_near_switch_made %> / <%= team_2.tot_auto_near_switch_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= team_2.tot_auto_exchange_made %> / <%= team_2.tot_auto_exchange_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= team_2.tot_auto_scale_high_made %> / <%= team_2.tot_auto_scale_high_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= team_2.tot_auto_scale_low_made %> / <%= team_2.tot_auto_scale_low_attempts %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= team_2.avg_tele_cubes_scored %> (Max: <%= team_2.max_tele_cubes_scored %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= team_2.avg_tele_exchange_made %> / <%= team_2.avg_tele_exchange_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= team_2.avg_tele_near_switch_made %> / <%= team_2.avg_tele_near_switch_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= team_2.avg_tele_far_switch_made %> / <%= team_2.avg_tele_far_switch_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= team_2.avg_tele_scale_high_made %> / <%= team_2.avg_tele_scale_high_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= team_2.avg_tele_scale_low_made %> / <%= team_2.avg_tele_scale_low_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= team_2.avg_tele_intake %> (Max: <%= team_2.max_tele_intake %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= team_2.avg_tele_portal_intake_made %> / <%= team_2.avg_tele_portal_intake_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= team_2.avg_tele_pyramid_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= team_2.avg_tele_unprotected_intake %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= team_2.avg_tele_floor_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Knockouts: <%= team_2.avg_tele_knockouts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= team_2.max_tele_highest_level %> (Frq: <%= team_2.frq_tele_highest_level %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= team_2.tot_tele_platform %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= team_2.tot_tele_climb %> / <%= team_2.tot_tele_climb_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= team_2.tot_tele_climb_assisted %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= team_2.tot_tele_plus_one %> / <%= team_2.tot_tele_plus_one_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= team_2.tot_tele_plus_two %> / <%= team_2.tot_tele_plus_two_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= team_2.avg_driver_rating %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= team_2.avg_defense_rating %></h5></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>

  		<div id="team3" style="padding-left: 10px; padding-right: 10px;" class="col-lg-4 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h2>
              <strong><%= team_3.team_num %> - <%= team_3.team_name %></strong>
              <!-- <br /> -->
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <h3><u>Autonomous Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Cross: <%= team_3.tot_auto_cross %> / <%= team_3.num_matches %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= team_3.tot_auto_left %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Center Starts: <%= team_3.tot_auto_center %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= team_3.tot_auto_right %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= team_3.tot_auto_pyramid_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= team_3.tot_auto_unprotected_intake %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= team_3.tot_auto_near_switch_made %> / <%= team_3.tot_auto_near_switch_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= team_3.tot_auto_exchange_made %> / <%= team_3.tot_auto_exchange_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= team_3.tot_auto_scale_high_made %> / <%= team_3.tot_auto_scale_high_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= team_3.tot_auto_scale_low_made %> / <%= team_3.tot_auto_scale_low_attempts %></h5></td>
              </tr>
            </table>
            <h3><u>Teleop Data</u></h3>
            <table class="table">
              <tr>
                <td><h5 style="margin-top:0;">Total Cubes: <%= team_3.avg_tele_cubes_scored %> (Max: <%= team_3.max_tele_cubes_scored %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= team_3.avg_tele_exchange_made %> / <%= team_3.avg_tele_exchange_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Near Switch: <%= team_3.avg_tele_near_switch_made %> / <%= team_3.avg_tele_near_switch_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= team_3.avg_tele_far_switch_made %> / <%= team_3.avg_tele_far_switch_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Scale High: <%= team_3.avg_tele_scale_high_made %> / <%= team_3.avg_tele_scale_high_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= team_3.avg_tele_scale_low_made %> / <%= team_3.avg_tele_scale_low_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Total Intake: <%= team_3.avg_tele_intake %> (Max: <%= team_3.max_tele_intake %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= team_3.avg_tele_portal_intake_made %> / <%= team_3.avg_tele_portal_intake_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Pyramid Intake: <%= team_3.avg_tele_pyramid_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= team_3.avg_tele_unprotected_intake %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Floor Intake: <%= team_3.avg_tele_floor_intake %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Knockouts: <%= team_3.avg_tele_knockouts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Max Highest Level: <%= team_3.max_tele_highest_level %> (Frq: <%= team_3.frq_tele_highest_level %>)</h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= team_3.tot_tele_platform %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Self-Climb: <%= team_3.tot_tele_climb %> / <%= team_3.tot_tele_climb_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= team_3.tot_tele_climb_assisted %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Plus One: <%= team_3.tot_tele_plus_one %> / <%= team_3.tot_tele_plus_one_attempts %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= team_3.tot_tele_plus_two %> / <%= team_3.tot_tele_plus_two_attempts %></h5></td>
              </tr>
              <tr>
                <td><h5 style="margin-top:0;">Mobility Rating: <%= team_3.avg_driver_rating %></h5></td>
                <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= team_3.avg_defense_rating %></h5></td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3><u>Cycle Data</u></h3>
        <table class="table">
          <tr>
            <th />
            <th />
            <th><%= team_1.team_num %></th>
            <th />
            <th />
            <th />
            <th><%= team_2.team_num %></th>
            <th />
            <th />
            <th />
            <th><%= team_3.team_num %></th>
            <th />
          </tr>
          <tr>
            <th>Path</th>
            <th>Avg</th>
            <th>Max</th>
            <th>Time</th>
            <th />
            <th>Avg</th>
            <th>Max</th>
            <th>Time</th>
            <th />
            <th>Avg</th>
            <th>Max</th>
            <th>Time</th>
          </tr>
          <tr>
            <th>Pyramid Scale</th>
            <td><%= team_1.tot_pyramid_scale_cycles %></td> <!-- tot is really per match :| -->
            <td><%= team_1.max_pyramid_scale_cycles %></td>
            <td><%= team_1.avg_pyramid_scale_cycles %></td>
            <td />
            <td><%= team_2.tot_pyramid_scale_cycles %></td>
            <td><%= team_2.max_pyramid_scale_cycles %></td>
            <td><%= team_2.avg_pyramid_scale_cycles %></td>
            <td />
            <td><%= team_3.tot_pyramid_scale_cycles %></td>
            <td><%= team_3.max_pyramid_scale_cycles %></td>
            <td><%= team_3.avg_pyramid_scale_cycles %></td>
          </tr>
          <tr>
            <th>Unprotected Scale</th>
            <td><%= team_1.tot_unprotected_scale_cycles %></td>
            <td><%= team_1.max_unprotected_scale_cycles %></td>
            <td><%= team_1.avg_unprotected_scale_cycles %></td>
            <td />
            <td><%= team_2.tot_unprotected_scale_cycles %></td>
            <td><%= team_2.max_unprotected_scale_cycles %></td>
            <td><%= team_2.avg_unprotected_scale_cycles %></td>
            <td />
            <td><%= team_3.tot_unprotected_scale_cycles %></td>
            <td><%= team_3.max_unprotected_scale_cycles %></td>
            <td><%= team_3.avg_unprotected_scale_cycles %></td>
          </tr>
          <tr>
            <th>Portal Scale</th>
            <td><%= team_1.tot_portal_scale_cycles %></td>
            <td><%= team_1.max_portal_scale_cycles %></td>
            <td><%= team_1.avg_portal_scale_cycles %></td>
            <td />
            <td><%= team_2.tot_portal_scale_cycles %></td>
            <td><%= team_2.max_portal_scale_cycles %></td>
            <td><%= team_2.avg_portal_scale_cycles %></td>
            <td />
            <td><%= team_3.tot_portal_scale_cycles %></td>
            <td><%= team_3.max_portal_scale_cycles %></td>
            <td><%= team_3.avg_portal_scale_cycles %></td>
          </tr>
          <tr>
            <th>Floor Scale</th>
            <td><%= team_1.tot_floor_scale_cycles %></td>
            <td><%= team_1.max_floor_scale_cycles %></td>
            <td><%= team_1.avg_floor_scale_cycles %></td>
            <td />
            <td><%= team_2.tot_floor_scale_cycles %></td>
            <td><%= team_2.max_floor_scale_cycles %></td>
            <td><%= team_2.avg_floor_scale_cycles %></td>
            <td />
            <td><%= team_3.tot_floor_scale_cycles %></td>
            <td><%= team_3.max_floor_scale_cycles %></td>
            <td><%= team_3.avg_floor_scale_cycles %></td>
          </tr>
          <tr>
            <th>Pyramid Near Switch</th>
            <td><%= team_1.tot_pyramid_near_switch_cycles %></td>
            <td><%= team_1.max_pyramid_near_switch_cycles %></td>
            <td><%= team_1.avg_pyramid_near_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_pyramid_near_switch_cycles %></td>
            <td><%= team_2.max_pyramid_near_switch_cycles %></td>
            <td><%= team_2.avg_pyramid_near_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_pyramid_near_switch_cycles %></td>
            <td><%= team_3.max_pyramid_near_switch_cycles %></td>
            <td><%= team_3.avg_pyramid_near_switch_cycles %></td>
          </tr>
          <tr>
            <th>Unprotected Near Switch</th>
            <td><%= team_1.tot_unprotected_near_switch_cycles %></td>
            <td><%= team_1.max_unprotected_near_switch_cycles %></td>
            <td><%= team_1.avg_unprotected_near_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_unprotected_near_switch_cycles %></td>
            <td><%= team_2.max_unprotected_near_switch_cycles %></td>
            <td><%= team_2.avg_unprotected_near_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_unprotected_near_switch_cycles %></td>
            <td><%= team_3.max_unprotected_near_switch_cycles %></td>
            <td><%= team_3.avg_unprotected_near_switch_cycles %></td>
          </tr>
          <tr>
            <th>Portal Near Switch</th>
            <td><%= team_1.tot_portal_near_switch_cycles %></td>
            <td><%= team_1.max_portal_near_switch_cycles %></td>
            <td><%= team_1.avg_portal_near_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_portal_near_switch_cycles %></td>
            <td><%= team_2.max_portal_near_switch_cycles %></td>
            <td><%= team_2.avg_portal_near_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_portal_near_switch_cycles %></td>
            <td><%= team_3.max_portal_near_switch_cycles %></td>
            <td><%= team_3.avg_portal_near_switch_cycles %></td>
          </tr>
          <tr>
            <th>Floor Near Switch</th>
            <td><%= team_1.tot_floor_near_switch_cycles %></td>
            <td><%= team_1.max_floor_near_switch_cycles %></td>
            <td><%= team_1.avg_floor_near_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_floor_near_switch_cycles %></td>
            <td><%= team_2.max_floor_near_switch_cycles %></td>
            <td><%= team_2.avg_floor_near_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_floor_near_switch_cycles %></td>
            <td><%= team_3.max_floor_near_switch_cycles %></td>
            <td><%= team_3.avg_floor_near_switch_cycles %></td>
          </tr>
          <tr>
            <th>Pyramid Far Switch</th>
            <td><%= team_1.tot_pyramid_far_switch_cycles %></td>
            <td><%= team_1.max_pyramid_far_switch_cycles %></td>
            <td><%= team_1.avg_pyramid_far_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_pyramid_far_switch_cycles %></td>
            <td><%= team_2.max_pyramid_far_switch_cycles %></td>
            <td><%= team_2.avg_pyramid_far_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_pyramid_far_switch_cycles %></td>
            <td><%= team_3.max_pyramid_far_switch_cycles %></td>
            <td><%= team_3.avg_pyramid_far_switch_cycles %></td>
          </tr>
          <tr>
            <th>Unprotected Far Switch</th>
            <td><%= team_1.tot_unprotected_far_switch_cycles %></td>
            <td><%= team_1.max_unprotected_far_switch_cycles %></td>
            <td><%= team_1.avg_unprotected_far_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_unprotected_far_switch_cycles %></td>
            <td><%= team_2.max_unprotected_far_switch_cycles %></td>
            <td><%= team_2.avg_unprotected_far_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_unprotected_far_switch_cycles %></td>
            <td><%= team_3.max_unprotected_far_switch_cycles %></td>
            <td><%= team_3.avg_unprotected_far_switch_cycles %></td>
          </tr>
          <tr>
            <th>Portal Far Switch</th>
            <td><%= team_1.tot_portal_far_switch_cycles %></td>
            <td><%= team_1.max_portal_far_switch_cycles %></td>
            <td><%= team_1.avg_portal_far_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_portal_far_switch_cycles %></td>
            <td><%= team_2.max_portal_far_switch_cycles %></td>
            <td><%= team_2.avg_portal_far_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_portal_far_switch_cycles %></td>
            <td><%= team_3.max_portal_far_switch_cycles %></td>
            <td><%= team_3.avg_portal_far_switch_cycles %></td>
          </tr>
          <tr>
            <th>Floor Far Switch</th>
            <td><%= team_1.tot_floor_far_switch_cycles %></td>
            <td><%= team_1.max_floor_far_switch_cycles %></td>
            <td><%= team_1.avg_floor_far_switch_cycles %></td>
            <td />
            <td><%= team_2.tot_floor_far_switch_cycles %></td>
            <td><%= team_2.max_floor_far_switch_cycles %></td>
            <td><%= team_2.avg_floor_far_switch_cycles %></td>
            <td />
            <td><%= team_3.tot_floor_far_switch_cycles %></td>
            <td><%= team_3.max_floor_far_switch_cycles %></td>
            <td><%= team_3.avg_floor_far_switch_cycles %></td>
          </tr>
          <tr>
            <th>Pyramid Exchange</th>
            <td><%= team_1.tot_pyramid_exchange_cycles %></td>
            <td><%= team_1.max_pyramid_exchange_cycles %></td>
            <td><%= team_1.avg_pyramid_exchange_cycles %></td>
            <td />
            <td><%= team_2.tot_pyramid_exchange_cycles %></td>
            <td><%= team_2.max_pyramid_exchange_cycles %></td>
            <td><%= team_2.avg_pyramid_exchange_cycles %></td>
            <td />
            <td><%= team_3.tot_pyramid_exchange_cycles %></td>
            <td><%= team_3.max_pyramid_exchange_cycles %></td>
            <td><%= team_3.avg_pyramid_exchange_cycles %></td>
          </tr>
          <tr>
            <th>Unprotected Exchange</th>
            <td><%= team_1.tot_unprotected_exchange_cycles %></td>
            <td><%= team_1.max_unprotected_exchange_cycles %></td>
            <td><%= team_1.avg_unprotected_exchange_cycles %></td>
            <td />
            <td><%= team_2.tot_unprotected_exchange_cycles %></td>
            <td><%= team_2.max_unprotected_exchange_cycles %></td>
            <td><%= team_2.avg_unprotected_exchange_cycles %></td>
            <td />
            <td><%= team_3.tot_unprotected_exchange_cycles %></td>
            <td><%= team_3.max_unprotected_exchange_cycles %></td>
            <td><%= team_3.avg_unprotected_exchange_cycles %></td>
          </tr>
          <tr>
            <th>Portal Exchange</th>
            <td><%= team_1.tot_portal_exchange_cycles %></td>
            <td><%= team_1.max_portal_exchange_cycles %></td>
            <td><%= team_1.avg_portal_exchange_cycles %></td>
            <td />
            <td><%= team_2.tot_portal_exchange_cycles %></td>
            <td><%= team_2.max_portal_exchange_cycles %></td>
            <td><%= team_2.avg_portal_exchange_cycles %></td>
            <td />
            <td><%= team_3.tot_portal_exchange_cycles %></td>
            <td><%= team_3.max_portal_exchange_cycles %></td>
            <td><%= team_3.avg_portal_exchange_cycles %></td>
          </tr>
          <tr>
            <th>Floor Exchange</th>
            <td><%= team_1.tot_floor_exchange_cycles %></td>
            <td><%= team_1.max_floor_exchange_cycles %></td>
            <td><%= team_1.avg_floor_exchange_cycles %></td>
            <td />
            <td><%= team_2.tot_floor_exchange_cycles %></td>
            <td><%= team_2.max_floor_exchange_cycles %></td>
            <td><%= team_2.avg_floor_exchange_cycles %></td>
            <td />
            <td><%= team_3.tot_floor_exchange_cycles %></td>
            <td><%= team_3.max_floor_exchange_cycles %></td>
            <td><%= team_3.avg_floor_exchange_cycles %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <canvas id="auto_trend_1" style="width:100px; height:85px;"></canvas>
      </div>
      <div class="col-lg-4 col-xs-12">
        <canvas id="auto_trend_2" style="width:100px; height:85px;"></canvas>
      </div>
      <div class="col-lg-4 col-xs-12">
        <canvas id="auto_trend_3" style="width:100px; height:85px;"></canvas>
      </div>
      <script>
        var auto_data_1 = {
          labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
          datasets: [
            {
              label: 'Auto Made',
              backgroundColor: "rgba(201,235,148,0.75)",
              borderColor: "rgba(201,235,148,1)",
              borderWidth: 2,
              data: [<%= team_1.auto_made_trend %>]
            },
            {
              label: 'Auto Missed',
              backgroundColor: "rgba(255,166,158,0.75)",
              borderColor: "rgba(255,166,158,1)",
              borderWidth: 2,
              data: [<%= team_1.auto_missed_trend %>]
            }
          ]
        };
        var auto_data_2 = {
          labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
          datasets: [
            {
              label: 'Auto Made',
              backgroundColor: "rgba(201,235,148,0.75)",
              borderColor: "rgba(201,235,148,1)",
              borderWidth: 2,
              data: [<%= team_2.auto_made_trend %>]
            },
            {
              label: 'Auto Missed',
              backgroundColor: "rgba(255,166,158,0.75)",
              borderColor: "rgba(255,166,158,1)",
              borderWidth: 2,
              data: [<%= team_2.auto_missed_trend %>]
            }
          ]
        };
        var auto_data_3 = {
          labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
          datasets: [
            {
              label: 'Auto Made',
              backgroundColor: "rgba(201,235,148,0.75)",
              borderColor: "rgba(201,235,148,1)",
              borderWidth: 2,
              data: [<%= team_3.auto_made_trend %>]
            },
            {
              label: 'Auto Missed',
              backgroundColor: "rgba(255,166,158,0.75)",
              borderColor: "rgba(255,166,158,1)",
              borderWidth: 2,
              data: [<%= team_3.auto_missed_trend %>]
            }
          ]
        };
        
        var ctx1 = document.getElementById("auto_trend_1").getContext("2d");
        var myBarChart = new Chart(ctx1, { 
          type: 'bar',
          data: auto_data_1,
          options: {
            title: {
              display: true,
              text: '<%= team_1.team_num %> Autos',
              fontSize: 16
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 12,
                  stepSize: 2
                }
              }]
            },
            tooltips: {
              intersect: false,
              mode: 'index',
              callbacks: {
                labelColor: function(tooltipItem, chart) {
                  var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                  return {
                    backgroundColor : dataset.borderColor
                  }
                }
              }
            }
          }
        });
        
        var ctx2 = document.getElementById("auto_trend_2").getContext("2d");
        var myBarChart = new Chart(ctx2, { 
          type: 'bar',
          data: auto_data_2,
          options: {
            title: {
              display: true,
              text: '<%= team_2.team_num %> Autos',
              fontSize: 16
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 12,
                  stepSize: 2
                }
              }]
            },
            tooltips: {
              intersect: false,
              mode: 'index',
              callbacks: {
                labelColor: function(tooltipItem, chart) {
                  var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                  return {
                    backgroundColor : dataset.borderColor
                  }
                }
              }
            }
          }
        });
        
        var ctx3 = document.getElementById("auto_trend_3").getContext("2d");
        var myBarChart = new Chart(ctx3, { 
          type: 'bar',
          data: auto_data_3,
          options: {
            title: {
              display: true,
              text: '<%= team_3.team_num %> Autos',
              fontSize: 16
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 12,
                  stepSize: 2
                }
              }]
            },
            tooltips: {
              intersect: false,
              mode: 'index',
              callbacks: {
                labelColor: function(tooltipItem, chart) {
                  var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                  return {
                    backgroundColor : dataset.borderColor
                  }
                }
              }
            }
          }
        });
      </script>
    </div>
  </main>

	<footer>
    <hr />
    <% include ../partials/footer %>
  </footer>
</body>
</html>
