<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top:60px;">
    <div class="row">
      <div class="col-lg-6">
        <h2>
          <strong><%= team_num %> - <%= team_name %></strong>
          <br />
          <div class="btn-group" role="group" aria-label="..." style="top: 5px;">
            <a href="/team/<%= previous_team_num %>" type="button" class="btn btn-default">Previous</a>
            <a href="/team/<%= next_team_num %>" type="button" class="btn btn-default">Next</a>
          </div>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <h3><u>Autonomous Data</u></h3>
        <table class="table">
          <tr>
            <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made %> / <%= tot_auto_near_switch_attempts %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made %> / <%= tot_auto_exchange_attempts %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made %> / <%= tot_auto_scale_high_attempts %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made %> / <%= tot_auto_scale_low_attempts %></h5></td>
          </tr>
        </table>
        <h3><u>Teleop Data</u></h3>
        <table class="table">
          <tr>
            <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored %> (Max: <%= max_tele_cubes_scored %>)</h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made %> / <%= avg_tele_exchange_attempts %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made %> / <%= avg_tele_near_switch_attempts %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made %> / <%= avg_tele_far_switch_attempts %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made %> / <%= avg_tele_scale_high_attempts %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made %> / <%= avg_tele_scale_low_attempts %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Cubes Dropped: <%= avg_tele_cubes_dropped %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake %> (Max: <%= max_tele_intake %>)</h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made %> / <%= avg_tele_portal_intake_attempts %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Total Orderly: <%= tot_tele_orderly %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Frq. of Max Highest Level: <%= frq_tele_highest_level %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb %> / <%= tot_tele_climb_attempts %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one %> / <%= tot_tele_plus_one_attempts %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two %> / <%= tot_tele_plus_two_attempts %></h5></td>
          </tr>
          <tr>
            <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating %></h5></td>
            <td style="text-align:right; padding-right:50px;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating %></h5></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 col-sm-12 col-xs-12" style="font-size: 10px; top: -60px;">
        <div>
          <h4><strong>Intake Trend</strong></h4>
          <canvas id="intake_trend"></canvas>
        </div>

        <div>
          <h4><strong>Cubes Trend</strong></h4>
          <canvas id="cubes_trend"></canvas>
        </div>

        <script type="text/javascript">
          var intake_data = {
            labels: [<%= trend_labels %> 'Next'],
            datasets: [
              {
                label: "Pyramid",
                fillColor: "rgba(255,166,158,0.2)",
                strokeColor: "rgba(255,166,158,1)",
                pointColor: "rgba(255,166,158,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(255,166,158,1)",
                data: [<%= pyramid_intake_trend %>]
              },
              {
                label: "Unprotected",
                fillColor: "rgba(201,235,148,0.2)",
                strokeColor: "rgba(201,235,148,1)",
                pointColor: "rgba(201,235,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(201,235,148,1)",
                data: [<%= unprotected_intake_trend %>]
              },
              {
                label: "Portal",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [<%= portal_intake_trend %>]
              },
              {
                label: "Floor",
                fillColor: "rgba(247,239,118,0.2)",
                strokeColor: "rgba(247,239,118,1)",
                pointColor: "rgba(247,239,118,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(247,239,118,1)",
                data: [<%= floor_intake_trend %>]
              },
              {
                label: "Total",
                fillColor: "rgba(228,156,255,0.2)",
                strokeColor: "rgba(228,156,255,1)",
                pointColor: "rgba(228,156,255,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(228,156,255,1)",
                data: [<%= total_intake_trend %>]
              }
            ]
          };

          var cubes_data = {
            labels: [<%= trend_labels %> 'Next'],
            datasets: [
              {
                label: "Near Switch",
                fillColor: "rgba(255,166,158,0.2)",
                strokeColor: "rgba(255,166,158,1)",
                pointColor: "rgba(255,166,158,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(255,166,158,1)",
                data: [<%= near_switch_cubes_trend %>]
              },
              {
                label: "Far Switch",
                fillColor: "rgba(201,235,148,0.2)",
                strokeColor: "rgba(201,235,148,1)",
                pointColor: "rgba(201,235,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(201,235,148,1)",
                data: [<%= far_switch_cubes_trend %>]
              },
              {
                label: "Scale High",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [<%= scale_high_cubes_trend %>]
              },
              {
                label: "Scale Low",
                fillColor: "rgba(168,254,254,0.2)",
                strokeColor: "rgba(168,254,254,1)",
                pointColor: "rgba(168,254,254,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(168,254,254,1)",
                data: [<%= scale_low_cubes_trend %>]
              },
              {
                label: "Exchange",
                fillColor: "rgba(247,239,118,0.2)",
                strokeColor: "rgba(247,239,118,1)",
                pointColor: "rgba(247,239,118,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(247,239,118,1)",
                data: [<%= exchange_cubes_trend %>]
              },
              {
                label: "Total",
                fillColor: "rgba(228,156,255,0.2)",
                strokeColor: "rgba(228,156,255,1)",
                pointColor: "rgba(228,156,255,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(228,156,255,1)",
                data: [<%= total_cubes_trend %>]
              }
            ]
          };

          window.onload = function()
          {
            var ctx = document.getElementById("intake_trend").getContext("2d");
            var ctx1 = document.getElementById("cubes_trend").getContext("2d");
            var myLineChart = new Chart(ctx).Line(intake_data,  {responsive: true, scaleOverride: true, scaleSteps: 8, scaleStepWidth: 4, scaleStartValue: 0});
            var myLineChart1 = new Chart(ctx1).Line(cubes_data,  {responsive: true, scaleOverride: true, scaleSteps: 8, scaleStepWidth: 4, scaleStartValue: 0});
          }
        </script>
      </div>
    </div>
    <div id="spoiler" style="display: none;">
      <!-- <- videos %> -->

      <!-- <div class="col-lg-6">
        <video width="480" height="360" controls>
          <source src="../videos/F1M2.mp4" type="video/mp4">
        </video>
      </div> -->
    </div>
    <button title="Click to show/hide videos" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Show/Hide Videos</button>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
