<DOCTYPE! html>
<meta charset="utf-8">
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body class="container">
  <header>
    <% include ../partials/header.ejs %>
  </header>

  <main style="padding-top:60px;">
    <div class="row">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <h2>
            <strong><%= team_num %> - <%= team_name %></strong>
            <br />
            <div class="btn-group" role="group" aria-label="..." style="top: 5px;">
              <a href="/team/<%= previous_team_num %>" type="button" class="btn btn-default">Previous</a>
              <a href="/team/<%= next_team_num %>" type="button" class="btn btn-default">Next</a>
            </div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-xs-12">
          <h3><u>Autonomous Data</u></h3>
          <table class="table">
            <tr>
              <td><h5 style="margin-top:0;">Cross: <%= tot_auto_cross %> / <%= num_matches %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Left Starts: <%= tot_auto_left %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Center Starts: <%= tot_auto_center %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Right Starts: <%= tot_auto_right %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Pyramid Intake: <%= tot_auto_pyramid_intake %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= tot_auto_unprotected_intake %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Near Switch: <%= tot_auto_near_switch_made %> / <%= tot_auto_near_switch_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= tot_auto_exchange_made %> / <%= tot_auto_exchange_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Scale High: <%= tot_auto_scale_high_made %> / <%= tot_auto_scale_high_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= tot_auto_scale_low_made %> / <%= tot_auto_scale_low_attempts %></h5></td>
            </tr>
          </table>
          <h3><u>Teleop Data</u></h3>
          <table class="table">
            <tr>
              <td><h5 style="margin-top:0;">Total Cubes: <%= avg_tele_cubes_scored %> (Max: <%= max_tele_cubes_scored %>)</h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Exchange: <%= avg_tele_exchange_made %> / <%= avg_tele_exchange_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Near Switch: <%= avg_tele_near_switch_made %> / <%= avg_tele_near_switch_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Far Switch: <%= avg_tele_far_switch_made %> / <%= avg_tele_far_switch_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Scale High: <%= avg_tele_scale_high_made %> / <%= avg_tele_scale_high_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Scale Low: <%= avg_tele_scale_low_made %> / <%= avg_tele_scale_low_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Total Intake: <%= avg_tele_intake %> (Max: <%= max_tele_intake %>)</h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Portal Intake: <%= avg_tele_portal_intake_made %> / <%= avg_tele_portal_intake_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Pyramid Intake: <%= avg_tele_pyramid_intake %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Unprotected Intake: <%= avg_tele_unprotected_intake %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Floor Intake: <%= avg_tele_floor_intake %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Knockouts: <%= avg_tele_knockouts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Max Highest Level: <%= max_tele_highest_level %> (Frq: <%= frq_tele_highest_level %>)</h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Platform: <%= tot_tele_platform %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Self-Climb: <%= tot_tele_climb %> / <%= tot_tele_climb_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Assisted Climb: <%= tot_tele_climb_assisted %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Plus One: <%= tot_tele_plus_one %> / <%= tot_tele_plus_one_attempts %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Plus Two: <%= tot_tele_plus_two %> / <%= tot_tele_plus_two_attempts %></h5></td>
            </tr>
            <tr>
              <td><h5 style="margin-top:0;">Mobility Rating: <%= avg_driver_rating %></h5></td>
              <td style="text-align:right;"><h5 style="margin-top:0;">Defense Rating: <%= avg_defense_rating %></h5></td>
            </tr>
          </table>
        </div>
        <div class="col-lg-7 col-lg-offset-0 col-xs-12" style="font-size: 14px; top: 0px;">
            <canvas id="auto_made_trend"></canvas>
          <!--<h4><strong>Intake Trend</strong></h4>-->
            <canvas id="intake_trend"></canvas>
          <!--<h4><strong>Cubes Trend</strong></h4>-->
            <canvas id="cubes_trend"></canvas>

          <script type="text/javascript">
            var auto_data = {
              labels: ['Left Switch', 'Left Scale', 'Center Switch', 'Center Scale', 'Right Switch', 'Right Scale'],
              datasets: [
                {
                  label: 'Auto Made',
                  backgroundColor: "rgba(201,235,148,0.75)",
                  borderColor: "rgba(201,235,148,1)",
                  borderWidth: 2,
                  data: [<%= auto_made_trend %>]
                },
                {
                  label: 'Auto Missed',
                  backgroundColor: "rgba(255,166,158,0.75)",
                  borderColor: "rgba(255,166,158,1)",
                  borderWidth: 2,
                  data: [<%= auto_missed_trend %>]
                }
              ]
            };
          
            var intake_data = {
              labels: [<%= trend_labels %> 'Next'],
              datasets: [
                {
                  label: "Pyramid",
                  backgroundColor: "rgba(255,166,158,0.2)",
                  borderColor: "rgba(255,166,158,1)",
                  pointBorderColor: "#000",
                  data: [<%= pyramid_intake_trend %>]
                },
                {
                  label: "Unprotected",
                  backgroundColor: "rgba(201,235,148,0.2)",
                  borderColor: "rgba(201,235,148,1)",
                  pointBorderColor: "#000",
                  data: [<%= unprotected_intake_trend %>]
                },
                {
                  label: "Portal",
                  backgroundColor: "rgba(151,187,205,0.2)",
                  borderColor: "rgba(151,187,205,1)",
                  pointBorderColor: "#000",
                  data: [<%= portal_intake_trend %>]
                },
                {
                  label: "Floor",
                  backgroundColor: "rgba(247,239,118,0.2)",
                  borderColor: "rgba(247,239,118,1)",
                  pointBorderColor: "#000",
                  data: [<%= floor_intake_trend %>]
                },
                {
                  label: "Total",
                  backgroundColor: "rgba(228,156,255,0.2)",
                  borderColor: "rgba(228,156,255,1)",
                  pointBorderColor: "#000",
                  data: [<%= total_intake_trend %>]
                }
              ]
            };

            var cubes_data = {
              labels: [<%= trend_labels %> 'Next'],
              datasets: [
                {
                  label: "Near Switch",
                  backgroundColor: "rgba(255,166,158,0.2)",
                  borderColor: "rgba(255,166,158,1)",
                  pointBorderColor: "#000",
                  data: [<%= near_switch_cubes_trend %>]
                },
                {
                  label: "Far Switch",
                  backgroundColor: "rgba(201,235,148,0.2)",
                  borderColor: "rgba(201,235,148,1)",
                  pointBorderColor: "#000",
                  data: [<%= far_switch_cubes_trend %>]
                },
                {
                  label: "Scale High",
                  backgroundColor: "rgba(151,187,205,0.2)",
                  borderColor: "rgba(151,187,205,1)",
                  pointBorderColor: "#000",
                  data: [<%= scale_high_cubes_trend %>]
                },
                {
                  label: "Scale Low",
                  backgroundColor: "rgba(168,254,254,0.2)",
                  borderColor: "rgba(168,254,254,1)",
                  pointBorderColor: "#000",
                  data: [<%= scale_low_cubes_trend %>]
                },
                {
                  label: "Exchange",
                  backgroundColor: "rgba(247,239,118,0.2)",
                  borderColor: "rgba(247,239,118,1)",
                  pointBorderColor: "#000",
                  data: [<%= exchange_cubes_trend %>]
                },
                {
                  label: "Total",
                  backgroundColor: "rgba(228,156,255,0.2)",
                  borderColor: "rgba(228,156,255,1)",
                  pointBorderColor: "#000",
                  data: [<%= total_cubes_trend %>]
                }
              ]
            };
              
            var ctx = document.getElementById("intake_trend").getContext("2d");
            var ctx1 = document.getElementById("cubes_trend").getContext("2d");
            var ctx2 = document.getElementById("auto_made_trend").getContext("2d");
            var myBarChart = new Chart(ctx2, { 
              type: 'bar',
              data: auto_data,
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Auto Trend',
                  fontSize: 16
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 12,
                      stepSize: 2
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    labelColor: function(tooltipItem, chart) {
                      var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                      return {
                        backgroundColor : dataset.borderColor
                      }
                    }
                  }
                }
              }
            });
            var myLineChart = new Chart(ctx, { 
              type: 'line',
              data: intake_data,
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Intake Trend',
                  fontSize: 16
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 24,
                      stepSize: 4
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    labelColor: function(tooltipItem, chart) {
                      var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                      return {
                        backgroundColor : dataset.borderColor
                      }
                    }
                  }
                }
              }
            });
            var myLineChart1 = new Chart(ctx1, { 
              type: 'line',
              data: cubes_data,
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: 'Cubes Trend',
                  fontSize: 16
                },
                scales: {
                  yAxes: [{
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 24,
                      stepSize: 4
                    }
                  }]
                },
                tooltips: {
                  intersect: false,
                  mode: 'index',
                  callbacks: {
                    labelColor: function(tooltipItem, chart) {
                      var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                      return {
                        backgroundColor : dataset.borderColor
                      }
                    }
                  }
                }
              }
            });
          </script>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h3><u>Cycle Data</u></h3>
        <table class="table">
          <tr>
            <th>Path</th>
            <th>Avg Per Match</th>
            <th>Max Per Match</th>
            <th>Avg Time</th>
            <th>Path</th>
            <th>Avg Per Match</th>
            <th>Max Per Match</th>
            <th>Avg Time</th>
          </tr>
          <tr>
            <th>Pyramid Scale</th>
            <td><%= tot_pyramid_scale_cycles %></td> <!-- tot is really per match :| -->
            <td><%= max_pyramid_scale_cycles %></td>
            <td><%= avg_pyramid_scale_cycles %></td>
            <th>Pyramid Exchange</th>
            <td><%= tot_pyramid_exchange_cycles %></td>
            <td><%= max_pyramid_exchange_cycles %></td>
            <td><%= avg_pyramid_exchange_cycles %></td>
          </tr>
          <tr>
            <th>Unprotected Scale</th>
            <td><%= tot_unprotected_scale_cycles %></td>
            <td><%= max_unprotected_scale_cycles %></td>
            <td><%= avg_unprotected_scale_cycles %></td>
            <th>Unprotected Exchange</th>
            <td><%= tot_unprotected_exchange_cycles %></td>
            <td><%= max_unprotected_exchange_cycles %></td>
            <td><%= avg_unprotected_exchange_cycles %></td>
          </tr>
          <tr>
            <th>Portal Scale</th>
            <td><%= tot_portal_scale_cycles %></td>
            <td><%= max_portal_scale_cycles %></td>
            <td><%= avg_portal_scale_cycles %></td>
            <th>Portal Exchange</th>
            <td><%= tot_portal_exchange_cycles %></td>
            <td><%= max_portal_exchange_cycles %></td>
            <td><%= avg_portal_exchange_cycles %></td>
          </tr>
          <tr>
            <th>Floor Scale</th>
            <td><%= tot_floor_scale_cycles %></td>
            <td><%= max_floor_scale_cycles %></td>
            <td><%= avg_floor_scale_cycles %></td>
            <th>Floor Exchange</th>
            <td><%= tot_floor_exchange_cycles %></td>
            <td><%= max_floor_exchange_cycles %></td>
            <td><%= avg_floor_exchange_cycles %></td>
          </tr>
          <tr>
            <th>Pyramid Near Switch</th>
            <td><%= tot_pyramid_near_switch_cycles %></td>
            <td><%= max_pyramid_near_switch_cycles %></td>
            <td><%= avg_pyramid_near_switch_cycles %></td>
            <th>Pyramid Far Switch</th>
            <td><%= tot_pyramid_far_switch_cycles %></td>
            <td><%= max_pyramid_far_switch_cycles %></td>
            <td><%= avg_pyramid_far_switch_cycles %></td>
          </tr>
          <tr>
            <th>Unprotected Near Switch</th>
            <td><%= tot_unprotected_near_switch_cycles %></td>
            <td><%= max_unprotected_near_switch_cycles %></td>
            <td><%= avg_unprotected_near_switch_cycles %></td>
            <th>Unprotected Far Switch</th>
            <td><%= tot_unprotected_far_switch_cycles %></td>
            <td><%= max_unprotected_far_switch_cycles %></td>
            <td><%= avg_unprotected_far_switch_cycles %></td>
          </tr>
          <tr>
            <th>Portal Near Switch</th>
            <td><%= tot_portal_near_switch_cycles %></td>
            <td><%= max_portal_near_switch_cycles %></td>
            <td><%= avg_portal_near_switch_cycles %></td>
            <th>Portal Far Switch</th>
            <td><%= tot_portal_far_switch_cycles %></td>
            <td><%= max_portal_far_switch_cycles %></td>
            <td><%= avg_portal_far_switch_cycles %></td>
          </tr>
          <tr>
            <th>Floor Near Switch</th>
            <td><%= tot_floor_near_switch_cycles %></td>
            <td><%= max_floor_near_switch_cycles %></td>
            <td><%= avg_floor_near_switch_cycles %></td>
            <th>Floor Far Switch</th>
            <td><%= tot_floor_far_switch_cycles %></td>
            <td><%= max_floor_far_switch_cycles %></td>
            <td><%= avg_floor_far_switch_cycles %></td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-6"><canvas id="scale_plot"></canvas></div>
        <div class="col-lg-6"><canvas id="exchange_plot"></canvas></div>
      </div>
      <div class="row">
        <div class="col-lg-6"><canvas id="near_switch_plot"></canvas></div>
        <div class="col-lg-6"><canvas id="far_switch_plot"></canvas></div>
      </div>
      <script type="text/javascript">
        var polar_scale_data = {
          labels: ['Pyramid', 'Unprotected', 'Portal', 'Floor'],
          datasets: [
            {
              label: "Scale",
              backgroundColor: [
                "rgba(255,166,158,.5)",
                "rgba(201,235,148,.5)",
                "rgba(151,187,205,.5)",
                "rgba(247,239,118,.5)"
              ],
              borderColor: [
                "rgba(255,166,158,1)",
                "rgba(201,235,148,1)",
                "rgba(151,187,205,1)",
                "rgba(247,239,118,1)"
              ],
              data: [<%= avg_pyramid_scale_cycles %>, <%= avg_unprotected_scale_cycles %>, <%= avg_portal_scale_cycles %>, <%= avg_floor_scale_cycles %>]
            }
          ]
        };
        
        var polar_exchange_data = {
          labels: ['Pyramid', 'Unprotected', 'Portal', 'Floor'],
          datasets: [
            {
              label: "Scale",
              backgroundColor: [
                "rgba(255,166,158,.5)",
                "rgba(201,235,148,.5)",
                "rgba(151,187,205,.5)",
                "rgba(247,239,118,.5)"
              ],
              borderColor: [
                "rgba(255,166,158,1)",
                "rgba(201,235,148,1)",
                "rgba(151,187,205,1)",
                "rgba(247,239,118,1)"
              ],
              data: [<%= avg_pyramid_exchange_cycles %>, <%= avg_unprotected_exchange_cycles %>, <%= avg_portal_exchange_cycles %>, <%= avg_floor_exchange_cycles %>]
            }
          ]
        };
      
        var polar_near_switch_data = {
          labels: ['Pyramid', 'Unprotected', 'Portal', 'Floor'],
          datasets: [
            {
              label: "Scale",
              backgroundColor: [
                "rgba(255,166,158,.5)",
                "rgba(201,235,148,.5)",
                "rgba(151,187,205,.5)",
                "rgba(247,239,118,.5)"
              ],
              borderColor: [
                "rgba(255,166,158,1)",
                "rgba(201,235,148,1)",
                "rgba(151,187,205,1)",
                "rgba(247,239,118,1)"
              ],
              data: [<%= avg_pyramid_near_switch_cycles %>, <%= avg_unprotected_near_switch_cycles %>, <%= avg_portal_near_switch_cycles %>, <%= avg_floor_near_switch_cycles %>]
            }
          ]
        };
        
        var polar_far_switch_data = {
          labels: ['Pyramid', 'Unprotected', 'Portal', 'Floor'],
          datasets: [
            {
              label: "Scale",
              backgroundColor: [
                "rgba(255,166,158,.5)",
                "rgba(201,235,148,.5)",
                "rgba(151,187,205,.5)",
                "rgba(247,239,118,.5)"
              ],
              borderColor: [
                "rgba(255,166,158,1)",
                "rgba(201,235,148,1)",
                "rgba(151,187,205,1)",
                "rgba(247,239,118,1)"
              ],
              data: [<%= avg_pyramid_far_switch_cycles %>, <%= avg_unprotected_far_switch_cycles %>, <%= avg_portal_far_switch_cycles %>, <%= avg_floor_far_switch_cycles %>]
            }
          ]
        };
      
        var radar_data = {
          labels: ['Scale', 'Near Switch', 'Far Switch', 'Exchange'],
          datasets: [
            {
              label: "Pyramid",
              backgroundColor: "rgba(255,166,158,0.2)",
              borderColor: "rgba(255,166,158,1)",
              pointBorderColor: "#000",
              pointRadius: 3,
              pointHitRadius: 27,
              data: [<%= pyramid_radar_trend %>]
            },
            {
              label: "Unprotected",
              backgroundColor: "rgba(201,235,148,0.2)",
              borderColor: "rgba(201,235,148,1)",
              pointBorderColor: "#000",
              pointRadius: 3,
              pointHitRadius: 27,
              data: [<%= unprotected_radar_trend %>]
            },
            {
              label: "Portal",
              backgroundColor: "rgba(151,187,205,0.2)",
              borderColor: "rgba(151,187,205,1)",
              pointBorderColor: "#000",
              pointRadius: 3,
              pointHitRadius: 27,
              data: [<%= portal_radar_trend %>]
            },
            {
              label: "Floor",
              backgroundColor: "rgba(247,239,118,0.2)",
              borderColor: "rgba(247,239,118,1)",
              pointBorderColor: "#000",
              pointRadius: 3,
              pointHitRadius: 27,
              data: [<%= floor_radar_trend %>]
            }
          ]
        };

        window.onload = function()
        {
          //alert(<%= tot_pyramid_scale_cycles %>);
          //alert(<%= tot_unprotected_scale_cycles %>);
          //alert(<%= tot_portal_scale_cycles %>);
          //alert(<%= tot_floor_scale_cycles %>);
          var total_scale_scored = Number(<%= tot_pyramid_scale_cycles %>) + Number(<%= tot_unprotected_scale_cycles %>) + Number(<%= tot_portal_scale_cycles %>) + Number(<%= tot_floor_scale_cycles %>);
          var total_near_switch_scored = Number(<%= tot_pyramid_near_switch_cycles %>) + Number(<%= tot_unprotected_near_switch_cycles %>) + Number(<%= tot_portal_near_switch_cycles %>) + Number(<%= tot_floor_near_switch_cycles %>);
          var total_far_switch_scored = Number(<%= tot_pyramid_far_switch_cycles %>) + Number(<%= tot_unprotected_far_switch_cycles %>) + Number(<%= tot_portal_far_switch_cycles %>) + Number(<%= tot_floor_far_switch_cycles %>);
          var total_exchange_scored = Number(<%= tot_pyramid_exchange_cycles %>) + Number(<%= tot_unprotected_exchange_cycles %>) + Number(<%= tot_portal_exchange_cycles %>) + Number(<%= tot_floor_exchange_cycles %>);
          //alert(total_scale_scored);
          //alert(total_scale_scored);
          //alert(total_near_switch_scored);
          //alert(total_far_switch_scored);
          //alert(total_exchange_scored);
          var ctx = document.getElementById("scale_plot").getContext("2d");
          var myLineChart = new Chart(ctx, { 
            type: 'polarArea',
            data: polar_scale_data,
            options: {
              responsive: true,
              maintainAspectRatio: true,
              customAngles: [
                <%= tot_pyramid_scale_cycles %> * 2 * Math.PI / total_scale_scored,
                <%= tot_unprotected_scale_cycles %> * 2 * Math.PI / total_scale_scored,
                <%= tot_portal_scale_cycles %> * 2 * Math.PI / total_scale_scored,
                <%= tot_floor_scale_cycles %> * 2 * Math.PI / total_scale_scored
              ],
              startAngle: 0.25 * Math.PI,
              title: {
                display: true,
                text: 'Scale',
                fontSize: 16
              },
              tooltips: {
                intersect: true,
                displayColors: true,
                mode: 'dataset',
                callbacks: {
                  labelColor: function(tooltipItem, chart) {
                    var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                    return {
                      backgroundColor : dataset.borderColor[tooltipItem.index]
                    }
                  }
                }
              },
              scale: {
                pointLabels: {
                  display: false
                },
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 8,
                  callback: function(value, index, values) {
                    return (value);
                  }
                }
              }
            }
          });
          var ctx1 = document.getElementById("exchange_plot").getContext("2d");
          var myLineChart1 = new Chart(ctx1, { 
            type: 'polarArea',
            data: polar_exchange_data,
            options: {
              responsive: true,
              maintainAspectRatio: true,
              customAngles: [
                <%= tot_pyramid_exchange_cycles %> * 2 * Math.PI / total_exchange_scored,
                <%= tot_unprotected_exchange_cycles %> * 2 * Math.PI / total_exchange_scored,
                <%= tot_portal_exchange_cycles %> * 2 * Math.PI / total_exchange_scored,
                <%= tot_floor_exchange_cycles %> * 2 * Math.PI / total_exchange_scored
              ],
              startAngle: 0.25 * Math.PI,
              title: {
                display: true,
                text: 'Exchange',
                fontSize: 16
              },
              tooltips: {
                intersect: true,
                displayColors: true,
                mode: 'dataset',
                callbacks: {
                  labelColor: function(tooltipItem, chart) {
                    var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                    return {
                      backgroundColor : dataset.borderColor[tooltipItem.index]
                    }
                  }
                }
              },
              scale: {
                pointLabels: {
                  display: false
                },
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 8
                }
              }
            }
          });
          var ctx2 = document.getElementById("near_switch_plot").getContext("2d");
          var myLineChart2 = new Chart(ctx2, { 
            type: 'polarArea',
            data: polar_near_switch_data,
            options: {
              responsive: true,
              maintainAspectRatio: true,
              customAngles: [
                <%= tot_pyramid_near_switch_cycles %> * 2 * Math.PI / total_near_switch_scored,
                <%= tot_unprotected_near_switch_cycles %> * 2 * Math.PI / total_near_switch_scored,
                <%= tot_portal_near_switch_cycles %> * 2 * Math.PI / total_near_switch_scored,
                <%= tot_floor_near_switch_cycles %> * 2 * Math.PI / total_near_switch_scored
              ],
              startAngle: 0.25 * Math.PI,
              title: {
                display: true,
                text: 'Near Switch',
                fontSize: 16
              },
              tooltips: {
                intersect: true,
                displayColors: true,
                mode: 'dataset',
                callbacks: {
                  labelColor: function(tooltipItem, chart) {
                    var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                    return {
                      backgroundColor : dataset.borderColor[tooltipItem.index]
                    }
                  }
                }
              },
              scale: {
                pointLabels: {
                  display: false
                },
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 8
                }
              }
            }
          });
          var ctx3 = document.getElementById("far_switch_plot").getContext("2d");
          var myLineChart3 = new Chart(ctx3, { 
            type: 'polarArea',
            data: polar_far_switch_data,
            options: {
              responsive: true,
              maintainAspectRatio: true,
              customAngles: [
                <%= tot_pyramid_far_switch_cycles %> * 2 * Math.PI / total_far_switch_scored,
                <%= tot_unprotected_far_switch_cycles %> * 2 * Math.PI / total_far_switch_scored,
                <%= tot_portal_far_switch_cycles %> * 2 * Math.PI / total_far_switch_scored,
                <%= tot_floor_far_switch_cycles %> * 2 * Math.PI / total_far_switch_scored
              ],
              startAngle: 0.25 * Math.PI,
              title: {
                display: true,
                text: 'Far Switch',
                fontSize: 16
              },
              tooltips: {
                intersect: true,
                displayColors: true,
                mode: 'dataset',
                callbacks: {
                  labelColor: function(tooltipItem, chart) {
                    var dataset = chart.config.data.datasets[tooltipItem.datasetIndex];
                    return {
                      backgroundColor : dataset.borderColor[tooltipItem.index]
                    }
                  }
                }
              },
              scale: {
                pointLabels: {
                  display: false
                },
                ticks: {
                  suggestedMin: 0,
                  suggestedMax: 8
                }
              }
            }
          });
        }
      </script>
    </div>
    <div id="spoiler" style="display: none;">
      <%- videos %>
    </div>
    <button title="Click to show/hide videos" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Show/Hide Videos</button>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
